* {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: Helvetica, sans-serif;
}

/* Set up grid */
.grid {
    display: grid;
    grid-template-areas: 
        "chatbot chatbot"
        "mainLeft mainRight"
        "graphLeft graphRight";
    grid-gap: 10px;
    box-sizing: border-box;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.header {
    grid-area: chatbot;
}

.main_left {
    grid-area: mainLeft;
    width: 100%;
}

.main_right {
    grid-area: mainRight;
    width: 100%;
}

.chart_left {
    grid-area: graphLeft;
    width: 100%;
}

.chart_right {
    grid-area: graphRight;
    width: 100%;
}


/* Elements in header */
.chatbot {
    display: flex;
    width: 100%;
    height: 100px;
    justify-self: flex-start;
}

.message {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    align-items: center;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(0, 34, 45);

    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.message::before { /* Add arrow to the message box (pointing left) */
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: 110px;
    z-index: 1;
    border: medium solid lightblue;
    border-width: 10px 10px 10px 0;
    border-color: transparent lightblue transparent transparent;
}


/* Elements in mainLeft */
.sect-title {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    padding: 1%;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
}

.tabs {
    display: flex;
    background-color: lightblue;
    border-radius: 20px 20px 20px 20px;
}

.tabs button { /* Style buttons in tab bar */
    background-color: inherit;
    float: left;
    left: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 20vw;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

#tablink-tech {
    border-radius: 20px 20px 20px 20px;
}

#tablink-tran {
    border-radius: 0px 20px 20px 0px;
}

.sector-content {
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 45vw;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect { /* Go from zero to full opacity */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.category-select { /* Style category selection */
    display: flex;
    justify-items: center;
    background-color: lightblue;
    border-radius: 15px 15px 15px 15px;
    width: 45vw;
}

.category-select button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15vw;
    padding: 10px 16px;
    transition: 0.3s;
}

.category-select button:hover {
    background-color: #ddd;
}

.category-select button.active {
    background-color: #ccc;
}

#catbutton-win {
    border-radius: 15px 0px 0px 15px;
}

#catbutton-lose {
    border-radius: 0px 15px 15px 0px;
}

#stocks-container {
    display: none;
    margin-top: 25px;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
}

.stocks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
}

.stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-bottom: thin solid rgb(186, 186, 186);
    /* border-top: none; */
}

.cat-content {
    display: none;
    /* padding: 12px 12px; */
    height: 150px;
    border: 1px solid rgb(155, 155, 155);
    overflow-y: scroll;
    overflow-x: hidden;
}

.add-button {
    margin-right: 30px;
    background-color: lightblue;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 50px;
    cursor: pointer;
    /* padding: 5px; */
}

.add-button:hover {
    background-color: #ddd;
}

.add-button.active {
    background-color: #ccc;
}

.selected-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.selected-container input {
    margin-left: auto;
    margin-top: 12px;
    margin-right: auto;
    width: 50%;
}

.selected-title {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
}

.selected-symbols {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20vw;
    min-height: 50px;
    border: 1px solid rgb(155, 155, 155);
}

.symbol {
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 15px;
}

#submit-stocks {
    display: none;
}

.min {
    float: right;
}

/* chartLeft and chartRight */

.chart-container {
    width: 60%;
    margin: 10%;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
}

#chart {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: top;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#chart-2 {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: top;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.y.axis path {
    display: none;
}

.overlay1 {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.focusCircle {
    fill: red;
}

.tooltip_rect {
    width: 65px;
    height: 28px;
    fill: rgb(201, 201, 201);
    pointer-events: none;
}

a {
    color: #67809f;
}

/* Elements in mainRight */ 
.portfolio-container {
    display: none;
    flex-direction: column;
    width: 40%;
}

.selected-portfolio {
    display: table;
    padding: 10px;
    border: 1px solid rgb(155, 155, 155);
    border-spacing: 0 15px;
    box-sizing: border-box;
    min-height: 177px;
}

.selected-portfolio input {
    display: table-cell;
    width: 94%;
    border: 0;
    padding: 0;
    font-size: medium;
}

.stake-entry {
    display: table-row;
}

.portfolio-symbol {
    display: table-cell;
    width: 40%;
}

.portfolio-title {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
}

#portfolio-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 50%;
}